## Python Practice

### Defining Python :

   + Highlevel
   + Interpriter
      + Both Compile & Run(its execute line by line)
   + Oops
      + Create modules & use existing modules
   + Multipurpose
      + We can develop any type ex: robotics,websites its a lesswait application
   + Dynamic
      + interpriter deside the type of element. you don't need to use type of variable

In [2]:
print("Hi")
print("hello")

Hi
hello

In [3]:
4+5

9

In [ ]:
# Prime NUmber Printing Logic

r=int(input())
for a in range(2,r):
    k=0
    for i in range(2,a):
        if(a%i==0):
            k=1
    if(k<=0):
        print(a,end=' ')

In [2]:
a

8

In [3]:
x1=1234

In [4]:
x1

1234

In [5]:
x2=x3=x4=x1

In [6]:
x2

1234

In [7]:
x1%2

0

In [8]:
x1%5

4

# Write a function to print the alternative values in a range(500-550) in the same line

##  ex: 502,504,...550 even either forward or reverse
##  ex: 501,503,...559 add either forward or reverse

In [14]:
def alternateValues(lower,upper):
    for values in range(lower,upper+1,2):
        print(values, end=' ')
        
alternateValues(500,550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550

In [17]:
def alternateValue(lower,upper):
    for value in range(lower+1,upper,2):
        print(value,end=' ')
alternateValue(500,550)

501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549

In [26]:
def reverseAlternate(lower,upper):
    for data in range(upper,lower-1,-2):
        print(data,end=' ')
    return
reverseAlternate(500,550)

550 548 546 544 542 540 538 536 534 532 530 528 526 524 522 520 518 516 514 512 510 508 506 504 502 500

In [27]:
def reverseAlternate(lower,upper):
    for data in range(upper-1,lower,-2):
        print(data,end=' ')
    return
reverseAlternate(500,550)

549 547 545 543 541 539 537 535 533 531 529 527 525 523 521 519 517 515 513 511 509 507 505 503 501

## Calculate the sum of numbers in a given range

In [39]:
def sumOfNumbers(start,end):
    sum=0
    for data in range(start,end+1,2):
        print(data, end=' ')
        sum=sum+data
    return 'the sum of number is :',sum
sumOfNumbers(1,50)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

('the sum of number is :', 625)

## calculate the average for given range

In [49]:
def averageNumber(start,end):
    sum=0
    average=0
    count=0
    for i in range(start,end+1):
        sum=sum+i
        count=count+1
        average=sum/count
        print(i,end=' ')
    return average
averageNumber(1,10)

1 2 3 4 5 6 7 8 9 10

5.5

## Generate leap years with in the given range

In [51]:
def leapYear(year):
    if (year%4==0 and year%100!=0):
        return True
    return False
def generateLeapYear(start,end):
    for i in range(start,end):
        if leapYear(i):
            print(i,end=' ')
    return

        
generateLeapYear(2000,2020)

2004 2008 2012 2016

## Calculate the number of  days within gevin range

In [54]:
def noOFDays(start,end):
    sum=0
    for year in range(start,end+1):
        if leapYear(year):
            sum=sum+366
        else:
            sum=sum+365
    return sum
noOFDays(2000,2020)

7670